[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "riscv-arch-test"]
	path = riscv-arch-test
	url = https://github.com/vladdum/riscv-arch-test.git
